header {
	background-color: #34eb49;
	color: #fff;
}
header h1 {
	float: left;
	padding:10px 0;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:15px 0 20px 15px;
	display: inline-block;
}
.container {
	width: 80%;
	margin:0 auto;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
a {
	color: inherit;
	text-decoration: none;
}